<h1>Relax Body</h1>
<div class="texto">
   <img src="assets/spa.jpg">
   <span>Focada somente no público masculino, realizamos vários serviços da área Estética e Massoterapia<br> ( Massagem Clássica, Terapêutica, Relaxante, Modeladora, Drenagem Linfática, Pós-operatório,<br> Gestantes, Limpeza de pele, Toque terapêutico, Ultrassom, Corrente Russa, Endermoterapia,<br> Bambuterapia e muitos outros ).
   Em ambiente tranquilo, climatizado, aconchegante e seguro,<br> atenderemos você mulher como você gosta e merece, de forma personalizada e única.
   Agende<br> e comprove, pois a avaliação é gratuita.
   Utilizamos somente cremes e produtos da ADCOS.<br>
   Veja em "Nossos Serviços" a descrição completa e detalhada de cada serviço com o tempo<br> para execução de cada sessão.
   </span>
</div>